</div> 


    </body>
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/footer.css') }}">
    <br><br>
<footer class="footer">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4">
            <a class="navbar-brand" href="https://www.unach.mx/avisos-de-privacidad#facultad-de-lenguas-campus-tuxtla">Aviso de Privacidad</a>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4">
            <a class="navbar-brand" href="https://transparencia.unach.mx/">Transparencia</a>
        </div>
        <!--Grid column-->
         <!--Grid column-->
        <div class="col-lg-4">
            <a class="navbar-brand" href="https://www.unach.mx/">Universidad Autónoma de Chiapas</a>
        </div>
        <!--Grid column-->
         <!--Grid column-->
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>



    <footer class="text-center text-white" style="background-color: #D2A82C">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #D2A82C;"
              href="https://www.facebook.com/comunicaunach/"
              role="button">
              <img src="{{ url_for('static',filename='/imagenes/facebook1.png') }}" alt="" width="30" height="30">
              <i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #D2A82C;"
              href="https://twitter.com/comunica_unach"
              role="button">
              <img src="{{ url_for('static',filename='/imagenes/twitter1.png') }}" alt="" width="30" height="30">
              <i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #D2A82C;"
              href="https://www.youtube.com/channel/UCBZeuAGfjUpPVmwBlU9S6GQ"
              role="button">
              <img src="{{ url_for('static',filename='/imagenes/youtube.png') }}" alt="" width="30" height="30">
              <i class="fab fa-google"></i
            ></a>
        </div>
        <!-- Grid container -->
    </footer>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #18386B;">
      © 2021 Copyright:
      <a class="text-white" href="#">IonHack</a>
    </div>
    <!-- Copyright -->
  </footer>
</html>