<!doctype html>
<html lang="en">
  <head>
    
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/styleHeader.css') }}">
    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
  </head>
  <body .bg-white>
    
    <table class="table">
      <thead>
        <tr>
          <nav class="navbar navbar-expand-lg">
            
            </div>
            
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" ><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <img src="{{ url_for('static',filename='/imagenes/unach.png') }}" alt="" class="img-thumbnail"  width="100" height="140">
                </li>
                <li class="nav-item">
                  <a class="nav-link" ></a>
                </li>
                <li class="nav-item">
                  <img src="{{ url_for('static',filename='/imagenes/lenguas1.png') }}" alt="" class="img-thumbnail" width="80" height="100">
                </li>
                <li class="nav-item">
                  <a class="nav-link" ></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">FACULTAD DE LENGUAS <br>TUXTLA GUTIÉRREZ <br>C-I</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" ></a>
                </li>
               
              </ul>
            
          </nav>
        </tr>
      </thead>
      <tbody>
        <tr>
          <nav class="navbar navbar-light shadow-lg" style="background-color: #D2A82C">
            <div class="container-fluid">
              <span class="navbar-text">
                Reconocimiento facial 
              </span>
            </div>
          </nav>
       
        </tr>
      </tbody>
    </table>



 
    


    
      
     <div class=container>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
